<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Slimex | The modern framework</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
        <style type="text/css">
            .text-black a{
                color: #000 !important;
            }

            .content {
                padding-top: 20%;
            }

            .card {
                background-color: #fafafa !important;
            }

            body .title {
                text-align: center;
            }

            .card-content .text {
                font-size: 50px !important;
                text-align: center !important;
            }

            .card-action{
                text-align: center;
            }
        </style>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper white z-depth-2">
                <div class="container text-black">
                    <a href="#" class="brand-logo title" style="font-size: 40px !important;">Slimex</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="https://smarthacks.github.io/slimex">DOCUMENTATION</a></li>
                        <li><a href="https://forum.smarthacksinc.com">COMMUNITY</a></li>
                        <li><a href="https://github.com/smarthack/slimex">GITHUB</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="content">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title title" style="font-size: 70px !important;">Slimex</span>
                        <hr style="margin-top:45px;">
                        <p class="text">You have successfully installed your own Slimex</p>
                    </div>
                    <div class="card-action">
                        <a href="https://smarthacksop.github.io/slimex">DOCUMENTATION</a>
                        <a href="https://forum.smarthacksinc.com">COMMUNITY</a>
                        <a href="https://github.com/smarthacksop/slimex">GITHUB</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>